<div [ngSwitch]="actualpage">
  <div *ngSwitchCase="'hello-page'">
    <div class="base">
      <h1 class= "hello">Hello Béla!</h1>
      <nav>
        <button class="button" (click)="JoinOnClick()">Csatlakozz a kvízhez!</button>
      </nav> 
    </div>
  </div>

  <div *ngSwitchCase="'lobbypage'">
    <h1 class="waitText">Még várunk egy kicsit a többiekre...</h1>
    <hr>
    <div class="loader"></div>
      <div *ngFor="let user of users" >
        <div>
          {{user.name}}
        </div>
      </div>
    <button class="btn" (click)="onStart()">Start Game</button>
  </div>

  <div *ngSwitchDefault>Nem töltött be egy komponenst se, ez default!!</div>
</div>