<div [ngSwitch]="actualpage" class="container">
  <div *ngSwitchCase="'hello-page'" class="wrap">
      <span class= "title">Hello Béla!</span>
      <button class="join-button" (click)="JoinOnClick()">Csatlakozz a kvízhez!</button>
  </div>

  <div *ngSwitchCase="'lobbypage'" class="wrap">

    <span class="title">Még várunk egy kicsit a többiekre...</span>

    <div *ngFor="let user of users">
      <div class="users">
        <span class="username">{{user.name}}</span>
      </div>
    </div>

    <div class="loader-container">
      <div class="loader"></div>
    </div>
    <button class="join-button" (click)="onStart()">Játék indítása</button>

  </div>

  <div *ngSwitchDefault>Nem töltött be egy komponenst se, ez default!!</div>
</div>
