<div class="container">
    <div class="chart-container">
        <canvas id="canvas"></canvas>
    </div>
    <p class="question">Ez egy kérdés?</p>
    <div class="answers-container">
        <div class="answer">
            <div class="answer-letter">A</div>
            <div class="answer-text">A válasz</div>
        </div>
        <div class="answer">
            <div class="answer-letter">B</div>
            <div class="answer-text">B válasz</div>
        </div>
        <div class="answer-correct">
            <div class="answer-letter">C</div>
            <div class="answer-text">C válasz</div>
        </div>
        <div class="answer">
            <div class="answer-letter">D</div>
            <div class="answer-text">D válasz</div>
        </div>
    </div>
</div>
