@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

hr {
    width: 70%;
}

.wrapper > div {
    border: 2px solid  rgb(163, 157, 157);
    border-radius: 5px;
    background-color:  rgb(224, 219, 219);
    padding: 1em;
    color: #142740;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.start-button-holder {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    font-family: 'Open Sans', sans-serif;
    width: 10rem;
    height: 3rem;
    background-color: rgb(55, 231, 63);
    border: 2px solid rgb(0, 126, 6);
    border-radius: 10px;
}

.start-button:focus {
    outline: 0;
}

.logged-in-users {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

